.about-page-wrapper {
    display: flex;
    flex-direction: row;
    /* Turns into flex-direction: column for smaller screen widths */
}

.about-body-wrapper {
    position: relative;
    display: inline-block;

    /* Override normal text to subtly shift colors according to background */
    /* Disabled because it looks weird on safari */
    /* mix-blend-mode: difference; */

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;

    backdrop-filter: blur(8px) brightness(0.8);
    -webkit-backdrop-filter: blur(8px);
}

.summary {
    position: relative;
    width: max(25%, 120px);
    height: 100%;
    margin-right: 5%;
    display: inline-block;

    flex-shrink: 0;
}

.summary-text {
    /* Disable cursor selection on text */
    pointer-events: none;
    user-select: none;

    text-align: center;
    width: 100%;

    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    line-height: 1;

    overflow: visible;

    /* Disabled because it looks weird on safari */
    /* mix-blend-mode: difference; */
    position: relative;

    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;

    backdrop-filter: blur(8px) brightness(0.8);
    -webkit-backdrop-filter: blur(8px);

    padding-top: 10px;
    padding-bottom: 10px;

    z-index: 1;
}

.face {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
    overflow-y: hidden;

    aspect-ratio: initial;
    border-radius: 25px;
}

/* Low width screens */
@media (max-width: 1000px) {
    .summary {
        width: 100%;
        height: fit-content;
        margin-right: 0;

        align-items: center;

        justify-content: center;

        display: block;
    }

    .face {
        height: 400px;
        object-position: 50% 15%;

        margin-bottom: 10px;
    }

    .about-page-wrapper {
        flex-direction: column;
    }

    .summary-text {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
    }

    .about-body-wrapper {
        display: block;
        margin-top: 10px;
    }
}

.face-image {
    display: block;
    object-fit: cover;
    pointer-events: none;
}

.face-placeholder {
    opacity: 0.5;
    animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes fade {
  0%,100% { background-color: var(--colors-primary) }
  50% { background-color: var(--colors-secondary) }
}
