.summary {
    position: relative;
    width: max(25%, 120px);
    height: 25%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
}

.summary::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: #585858;
    border-radius: 25px;

    opacity: 0.7;

    z-index: -1;
}

.face {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.face-image {
    vertical-align: bottom; /* Remove default image padding on the bottom or something */
}

.face-placeholder {
    /* background-color: var(--colors-secondary); */
    opacity: 0.5;
    animation: fade 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes fade {
  0%,100% { background-color: var(--colors-primary) }
  50% { background-color: var(--colors-secondary) }
}
