.RedirectButton {
  user-select: none;
  display: block;
  position: relative;

  overflow: hidden;
  background-color: transparent;
  border: none;

  /* text display properties */
  mix-blend-mode: difference;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: monospace;
  text-decoration: none; /* React Router <NavLink /> component has underlines enabled by default */
  font-weight: bold;
  transition: color 0.5s, mix-blend-mode 0.5s;
  z-index: 1;
}

/* Background animation thingy */
.RedirectButton::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 100%;
  padding: 0 12px; /* match button horizontal padding if needed */
  background-color: var(--colors-secondary);
  z-index: -1;
  transition: transform 0.5s ease;
}

/* Hover effect triggers background expansion */
.RedirectButton:hover::before {
  transform: translateX(-50%) scaleX(1);
}

/* Other hover effects */
.RedirectButton:hover {
  mix-blend-mode: normal;
  color: black;
  cursor: pointer;
}

.HomeButton {
  user-select: none;
  display: block;
  position: relative;
  overflow: visible;

  background-color: transparent;
  border: none;

  /* text display properties */
  mix-blend-mode: difference;
  color: white;
  font-size: 24px;
  text-align: left;

  font-family: monospace;
  font-weight: bold;

  text-align: left;
  width: fit-content;

  margin-top: min(5vw, 36px);;

  z-index: 1;

  transition: color 0.5s;
}

/* Other hover effects */
.HomeButton:hover {
  mix-blend-mode: normal;
  color: black;
  cursor: pointer;
}

/* Arrow for home button */
/* 0.05em toalign the arrow with the text vertically, not exact but close enuf */
.HomeButton::before {
  color: black;
  content: '❰';
  position: absolute;
  display: inline-block;
  bottom: 0.05em;

  transform: translateX(75%);
  opacity: 0;
  font-size: 24px;
  transition: all 0.4s ease;
  pointer-events: none;
}

.HomeButton:hover::before {
  transform: translateX(0%);
  opacity: 1;
}

/* Background for home button */
.HomeButton::after {
  content: '';
  display: inline;
  position: absolute;
  width: 120%;
  height: 100%;
  left: 0%;

  transform-origin: left;
  transform: scaleX(0);
  padding: 0 0px; /* match button horizontal padding if needed */

  background-color: var(--colors-secondary);
  z-index: -1;
  transition: transform 0.25s ease;
}

/* Hover effect triggers background expansion */
.HomeButton:hover::after {
  transform: scaleX(1);
}

.HomeButton .HomeButton-text {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateX(0%);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.HomeButton:hover .HomeButton-text{
  transform: translateX(15%);
}

