.RedirectButton {
    user-select: none;
    display: block;
    position: relative;
    overflow: visible;
    background-color: transparent;
    border: none;
    /* Text display properites */
    mix-blend-mode: difference;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    transition-duration: 0.5s;
}

.RedirectButton:hover {
    background-color: rgb(71, 198, 193);
    border-radius: 0%;
    mix-blend-mode: normal;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}
