.text {
  font-family: monospace;
  font-weight: bold;
  color: white;
  line-height: 1;

  display: block;
  overflow: visible;

  position: relative;
}

.typewriter {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 24px;
  line-height: 24px;

  white-space: nowrap;
  display: block;
  overflow: visible;

  position: relative;
  height: auto;
  width: fit-content;

  pointer-events: none;
  user-select: none;
}

.typewriter-blinker {
  content: '';
  display: inline-block;
  width: 0.25em;
  height: 24px;
  /* We don't use vertical-align: middle here because https://stackoverflow.com/questions/65241040/vertical-align-is-off-center-slightly */
  top: 50%;
  transform: translateY(-50%);

  background-color: white;
  position: absolute;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
