.text {
  font-family: monospace;
  font-weight: bold;
  color: white;
  line-height: 1;

  display: block;
  overflow: visible;

  position: relative;
}

.typewriter {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: min(5vw, 36px);
  line-height: 1;

  white-space: nowrap;
  display: block;
  overflow: visible;

  position: relative;
  width: fit-content;
  height: min(5vw, 36px);

  margin-top: min(5vw, 36px);

  pointer-events: none;
  user-select: none;
}

.typewriter::after {
  content: '';
  display: inline-block;
  width: 0.25em;
  height: 1em;
  vertical-align: top;
  background-color: white;
  position: absolute;
  top: 0;

  animation: blink-caret 0.75s step-end infinite;
}

.typewriter.done {
  font-family: monospace;
  white-space: nowrap;
  display: block;
  overflow: visible;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  width: fit-content;
}

.typewriter.done::after {
  content: none;
  animation: none;
}

@keyframes blink-caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
