.Album {
  display: flex;

  height: fit-content;
  width: 100%;
  flex-direction: row;
}

.album-grid {
  column-count: 4;
  column-gap: 16px;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;

  @media (max-width: 1000px) {
    column-count: 3;
  }

  @media (max-width: 600px) {
    column-count: 2;
  }
}

.entry-container {
  break-inside: avoid;
  margin-bottom: 16px;
}

.entry {
  width: 100%;
  height: auto;
  border-radius: 25px;
  object-fit: cover;
  display: block;
  transition: all 0.4s ease;
}

.entry:hover {
  transform: scale(1.05);
}
