/**
We manually define which components and shit will have a load in animation
because it creates a new stacking context https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_positioned_layout/Stacking_context
This allows us to have effects such as background blur and still have elements be affected by load in animations
If an element should blur the background, none of its ancestors should have created a new stacking context separate from the background
*/
.transition {
  clip-path: inset(0 0 100% 0);
  animation: unveil 1s ease-out forwards;
  will-change: transform, opacity;
  /* animation: unveil 1s ease-out forwards; */
}

@keyframes unveil {
  0% {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);  /* fully revealed */
  }

  done {
    clip-path: unset;
  }
}
